<h1>Héroes</h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe','new']" class="btn btn-outline-primary">Nuevo Héroe</button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <table class="table ">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Casa</th>
          <th>Biografia</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let k of heroes | keys; let i = index">
          <td>{{ i +1 }}</td>
          <td>{{heroes[k].nombre}}</td>
          <td>{{heroes[k].casa}}</td>
          <td>{{heroes[k].bio}}</td>
          <td>
            <button (click)="editar(this.k)" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar">
              <i class="fa fa-gear"></i>
            </button> &nbsp;
            <button (click)="eliminarHeroe(this.k)" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Eliminar">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
    <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info animated fadeIn fast" role="alert">
      <strong>No existen registros.</strong>
    </div>
    <div *ngIf="loading" class="alert alert-warning animated fadeIn fast" role="alert">
      <strong>Cargando...</strong>
    </div>
  </div>
</div>
