<h3>
  Héroe
  <small>{{heroe.nombre}}</small>
</h3>

<div class="row">
  <div class="col-md-12 text-left ">
    <button class="text-right" [routerLink]="['heroes']" class="btn btn-outline-danger">
      <i class="fa fa-chevron-left"></i> Volver</button>

    <button (click)="agregarHeroe(forma)" class="text-right" class="btn btn-outline-success">
      Nuevo Héroe</button>
  </div>
</div>

<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">
        <label>Nombre</label>
        <input [(ngModel)]="heroe.nombre" class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre del Héroe"
          required>
      </div>
      <div class="form-group">
        <label>Casa</label>
        <select [(ngModel)]="heroe.casa" name="casa" id="casa" class="form-control">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>
      <div class="form-group">
        <label>BIO:</label>
        <textarea [(ngModel)]="heroe.bio" name="bio" id="" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-success">
          <i class="fa fa-plus"></i> Guardar Cambios</button>
      </div>
    </form>
  </div>
</div>
